@import '../../styles/variables';

.character-filter{
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__select{
    outline: none;
  }

  &__btn{
    width: 115px !important;
    background-color: $green-element !important;
    color: black;
    transform: none !important;
  }

  &__btn:disabled{
    opacity: 0.5;
  }
}