@import './variables';

.content {
  &__title {
    font-size: 48px;
    text-align: center;
    margin: 200px 0;

    position: relative;
    z-index: 1;

    @media (max-width: 540px) {
      margin: 185px 0;
      font-size: 42px;
    }

    @media (max-width: 420px) {
      margin: 155px 0;
      font-size: 32px;
    }

    @media (max-width: 300px) {
      margin: 100px 0;
      font-size: 28px;
    }
  }

  &__bg-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    width: 100%;
    max-width: 400px;
    z-index: -1;
    opacity: 0.3;
  }
}